body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg,
            rgb(17, 51, 161) 0%,
            rgb(136, 34, 195) 100%);
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 3em;
    color: lightgray;
}